;; {{ ansible_managed }}

[{{ gm_php_fpm_pool_name }}]
user = {{ gm_php_fpm_pool_service_user }}
group = {{ gm_php_fpm_pool_service_group }}

listen = {{ gm_php_fpm_pool_listen }}
listen.owner = {{ gm_php_fpm_pool_listen_owner }}
listen.group = {{ gm_php_fpm_pool_listen_group }}
listen.mode = {{ gm_php_fpm_pool_listen_mode }}
listen.allowed_clients = {{ gm_php_fpm_pool_listen_allowed_clients }}

pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35

slowlog = /var/log/php-fpm/$pool-slow.log
php_admin_value[error_log] = /var/log/php-fpm/$pool-error.log
php_admin_flag[log_errors] = on

;; TODO: Abstract this in order to be able to use redis sessions some day
php_value[session.save_handler] = files
php_value[session.save_path]    = /var/lib/php/session
php_value[soap.wsdl_cache_dir]  = /var/lib/php/wsdlcache
